[submodule "week-5/lib/forge-std"]
	path = week-5/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week-5/lib/openzeppelin-contracts"]
	path = week-5/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
